/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/dump/

database/redis/package-lock.json
database/redis/package.json
database/redis/node_modules
database/redis/dist/