@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?xw074k');
    src:  url('/fonts/icomoon.eot?xw074k#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?xw074k') format('truetype'),
      url('/fonts/icomoon.woff?xw074k') format('woff'),
      url('/fonts/icomoon.svg?xw074k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"]:before,
[class*=" icon-"]:before,
.form-group label:before,
.notif-title:before,
.star-rating li:before,
.star-rating li:after,
.add-to-fav:before,
.more-link:after,
.slick-arrow:before,
.select-wrapper:before,
.comp-social a:before,
.advantages-list li:before,
ul.steps li:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
    content: "\e952";
}
.icon-building:before {
    content: "\e951";
}
.icon-chart:before {
    content: "\e94f";
}
.icon-analytics:before {
    content: "\e950";
}
.icon-avatar:before {
    content: "\e94e";
}
.icon-get-money:before {
    content: "\e94c";
}
.icon-off:before {
    content: "\e94d";
}
.icon-archive:before {
    content: "\e949";
}
.icon-inbox:before {
    content: "\e94a";
}
.icon-dashboard:before {
    content: "\e94b";
}
.icon-picture:before {
    content: "\e945";
}
.icon-help:before {
    content: "\e946";
}
.icon-writing:before {
    content: "\e947";
}
.icon-file:before {
    content: "\e948";
}
.icon-chat:before {
    content: "\e944";
}
.icon-google-plus:before,
.comp-social .google-plus:before {
    content: "\e943";
}
.icon-messenger:before,
.comp-social .messenger:before {
    content: "\e939";
}
.icon-tik-tok:before,
.comp-social .tik-tok:before {
    content: "\e93a";
}
.icon-telegram:before,
.comp-social .telegram:before {
    content: "\e93b";
}
.icon-reddit:before,
.comp-social .reddit:before {
    content: "\e93c";
}
.icon-viber:before,
.comp-social .viber:before {
    content: "\e93d";
}
.icon-tumblr:before,
.comp-social .tumblr:before {
    content: "\e93e";
}
.icon-linkedin:before,
.comp-social .linkedin:before {
    content: "\e93f";
}
.icon-pinterest:before,
.comp-social .pinterest:before {
    content: "\e940";
}
.icon-ok:before,
.comp-social .ok:before {
    content: "\e941";
}
.icon-skype:before,
.comp-social .skype:before {
    content: "\e942";
}
.icon-balance:before {
    content: "\e938";
}
.icon-a-settings:before {
    content: "\e934";
}
.icon-a-file:before {
    content: "\e935";
}
.icon-a-review:before {
    content: "\e936";
}
.icon-a-tap:before {
    content: "\e937";
}
.icon-view:before {
    content: "\e933";
}
.icon-c-paint:before {
    content: "\e92d";
}
.icon-c-school:before {
    content: "\e92e";
}
.icon-c-toy:before {
    content: "\e92f";
}
.icon-c-med:before {
    content: "\e930";
}
.icon-c-fire:before {
    content: "\e931";
}
.icon-c-ball:before {
    content: "\e932";
}
.icon-controls:before {
    content: "\e92c";
}
.icon-filter:before {
    content: "\e92a";
}
.icon-left-arrow:before,
.slick-prev:before {
    content: "\e900";
}
.icon-right-arrow:before,
.slick-next:before {
    content: "\e901";
}
.icon-down-arrow:before {
    content: "\e902";
}
.icon-up-arrow:before {
    content: "\e903";
}
.icon-heart:before,
.add-to-fav:before {
    content: "\e904";
}
.icon-heart-solid:before,
.add-to-fav.active:before {
    content: "\e905";
}
.icon-star:before,
.star-rating li:before,
.star-rating li.half:after,
.form-group.mark label:before {
    content: "\e906";
}
.icon-star-solid:before,
.star-rating li.active:before,
.star-rating li.half:before,
.form-group.mark label.active:before {
    content: "\e907";
}
.icon-notif:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e909";
}
.icon-time:before {
    content: "\e90a";
}
.icon-add:before {
    content: "\e90b";
}
.icon-place:before {
    content: "\e90c";
}
.icon-user:before {
    content: "\e90d";
}
.icon-trash:before {
    content: "\e90e";
}
.icon-show:before {
    content: "\e90f";
}
.icon-share:before {
    content: "\e910";
}
.icon-internet:before {
    content: "\e911";
}
.icon-edit:before {
    content: "\e912";
}
.icon-options:before {
    content: "\e913";
}
.icon-hide:before {
    content: "\e914";
}
.icon-forward:before {
    content: "\e915";
}
.icon-send:before {
    content: "\e916";
}
.icon-twitter:before,
.comp-social .twitter:before {
    content: "\e917";
}
.icon-vk:before,
.comp-social .vk:before {
    content: "\e918";
}
.icon-facebook:before,
.comp-social .facebook:before {
    content: "\e919";
}
.icon-youtube:before,
.comp-social .youtube:before {
    content: "\e91a";
}
.icon-cart:before {
    content: "\e91b";
}
.icon-phone:before {
    content: "\e91c";
}
.icon-email:before {
    content: "\e91d";
}
.icon-whatsapp:before,
.comp-social .whatsapp:before {
    content: "\e91e";
}
.icon-close:before {
    content: "\e91f";
}
.icon-top:before {
    content: "\e920";
}
.icon-right:before,
.more-link:after {
    content: "\e921";
}
.icon-bottom:before,
.select-wrapper:before {
    content: "\e922";
}
.icon-left:before {
    content: "\e923";
}
.icon-close-light:before {
    content: "\e924";
}
.icon-menu:before {
    content: "\e925";
}
.icon-warning:before,
.notif-title.warning:before {
    content: "\e926";
}
.icon-error:before,
.notif-title.error:before {
    content: "\e927";
}
.icon-success:before,
.notif-title.success:before,
.advantages-list li:before {
    content: "\e928";
}
.icon-check:before,
.form-group.checkbox label:before,
ul.steps li:before {
    content: "\e929";
}
.icon-instagram:before,
.comp-social .instagram:before {
    content: "\e92b";
}