section.first-slide {
    overflow: hidden;

    @keyframes rolling {
        from {
            transform: none;
        }

        to {
            transform: translateX(100%);
        }
    }

    &:before, &:after {
        content: '';
        background-image: url(/wp-content/themes/init/img/first-slide.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        animation: rolling 36s infinite linear;
    }

    &:before {
        left: auto;
        right: 100%;
    }

    .mask {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 95%);
    }

    .wrapper {
        padding: 20rem 0;
        position: relative;
        z-index: 2;

        .fs-search {
            display: flex;
            box-shadow: var(--shadow-l);
            border-radius: 3rem;
            overflow: hidden;
            padding: 0.6rem;
            background: var(--bg);

            .search-fields {
                display: flex;
                align-items: center;
                flex-grow: 1;
    
                & > * {
                    width: calc(100% / 3);

                    &:not(:last-child) {
                        border-right: 1px solid var(--border);
                    }

                }

                input {
                    padding: 0 1.5em;
                }
    
            }

        }

    }

}