section.company {

    .company-header {
        position: relative;

        .company-header-image {
            min-height: 53vh;
            padding-top: 26rem;
            display: flex;
            align-items: flex-end;

            .company-header-slider {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                .slick-list {
                    width: 100%;
                }

                .image {
                    background-size: cover;
                    background-size: cover;
                }

                .slick-arrow {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    border: none;
                    border-radius: 0;
                    background: var(--blackout);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                    width: 5rem;
                    color: #fff;
                    font-size: 1.6rem;
                    cursor: pointer;
                    transition: 0.3s;
                    opacity: 0;

                    &.prev {
                        left: 0;
                    }

                    &.next {
                        right: 0;
                    }

                }

                &:hover {

                    .slick-arrow {
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }

                    }

                }

            }

            .top-bar-wrapper {
                padding-top: 6rem;
                background: linear-gradient(0deg, rgb(29, 29, 29) 0, rgba(0,0,0,0) 100%);
                width: 100%;
                position: relative;
                z-index: 3;
                pointer-events: none;

                .top-bar {
                    pointer-events: all;

                    .company-avatar {
                        width: 16rem;
                        flex-shrink: 0;
                        position: relative;
                        height: 5rem;
                        z-index: 1;
                        margin-right: 2.2rem;

                        .image {
                            border: 5px solid var(--bg);
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 100%;
                            height: 16rem;
                            box-shadow: var(--shadow-l);
                        }

                    }

                    .top-bar-info {
                        padding: 2.2rem 0;
                        flex-grow: 1;

                        .company-info {
                            margin-right: 2.2rem;

                            h1 {
                                font-size: 2.2rem;
                                font-weight: 400;
                            }

                            p {

                                &:before {
                                    margin-right: 0.5em;
                                }

                            }

                        }

                        .btns {
                            flex-shrink: 0;
                        }

                    }

                }

            }

        }

    }

    .company-content {
        background: var(--grey-bg);
        padding-bottom: 3rem;

        .bottom-bar-wrapper {
            margin-bottom: 3rem;
            background: var(--bg);
            border-bottom: 1px solid var(--border);

            .bottom-bar {
                padding: 2.2rem 0 2.2rem 18.2rem;

                .stats {
                    display: flex;

                    .item {
                        display: flex;
                        align-items: center;

                        .stats-icon {
                            width: 5rem;
                            height: 5rem;
                            border: 2px dashed var(--border);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 400;
                            font-size: 1.8rem;  
                            transition: 0.3s;
                            margin-right: 1.3rem;

                            &.green {
                                border-color: var(--green-focus);
                                color: var(--green);

                                &:hover {
                                    background: var(--green);
                                    color: #fff;
                                }

                            }

                            &.red {
                                border-color: var(--red-focus);
                                color: var(--red);

                                &:hover {
                                    background: var(--red);
                                    color: #fff;
                                }

                            }

                            &.orange {
                                border-color: var(--orange-focus);
                                color: var(--orange);

                                &:hover {
                                    background: var(--orange);
                                    color: #fff;
                                }

                            }

                        }

                        .text {

                            h6 {
                                margin: 0;
                            }

                            & > div {
                                
                                & > * {
                                    color: var(--theme);
                                    display: inline-block;

                                    &.show-reviews-count {
                                        cursor: pointer;
                                        position: relative;
                                    }

                                }

                            }

                        }

                        &:not(:last-child) {
                            margin-right: 3rem;
                            padding-right: 3rem;
                            border-right: 1px solid var(--border);
                        }

                    }

                }

            }

        }

        .wrapper {
            display: flex;
            justify-content: space-between;

            .single-block {
                background: var(--bg);
                border: 1px solid var(--border);

                &.sticky {
                    position: sticky;
                    top: calc(var(--header) + 3rem);
                }

                .sb-header {
                    margin: 3rem 3rem 0 3rem;
                    padding-bottom: 2rem;
                    font-size: 2rem;
                    font-weight: 400;
                    position: relative;

                    &:not(.mb0) {
                        border-bottom: 1px solid var(--border);
                        margin-bottom: 2rem;
                    }

                    &:before {
                        position: absolute;
                        top: 0;
                        bottom: 2rem;
                        right: 0;
                        display: flex;
                        align-items: center;
                    }

                }

                .sb-content:not(.no-p) {
                    padding: 0 3rem 3rem 3rem
                }

            }

            .body {
                width: calc(100% - var(--single-aside) - 3rem);

                 & > *:not(:last-child) {
                     margin-bottom: 3rem;
                 }

                .watch-video {
                    padding: 0 3rem;
                    height: 7rem;
                    display: flex;
                    align-items: center;

                    &:before {
                        font-size: 1.6em;
                        margin-right: 0.5em;
                        color: var(--theme);
                    }

                    .btn {
                        margin-left: auto;
                    }

                }

                .slider-wrapper {
                    position: relative;

                    .slick-list {
                        min-width: 100%;
                    }

                    .main-slider {

                        .image {
                            height: var(--main-slider);
                            background-position: center;
                            background-size: cover;
                        }

                        .slick-arrow {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            border: none;
                            border-radius: 0;
                            background: var(--blackout);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 3;
                            width: 5rem;
                            color: #fff;
                            font-size: 1.6rem;
                            cursor: pointer;
                            transition: 0.3s;
                            opacity: 0;
    
                            &.prev {
                                left: 0;
                            }
    
                            &.next {
                                right: 0;
                            }
    
                        }

                    }

                    .main-slider-nav {
                        position: absolute;
                        left: 6rem;
                        right: 6rem;
                        bottom: 3rem;
                        filter: drop-shadow(var(--shadow-l));
                        transition: 0.3s;
                        opacity: 0;

                        .image {
                            background-position: center;
                            background-size: cover;
                            height: var(--main-slider-nav);
                            margin: 0 1rem;
                            transition: 0.3s;
                            opacity: 0.5;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.9;
                            }

                            &.slick-center {
                                opacity: 1;
                                box-shadow: 0 0 0 6px var(--theme) inset;
                            }

                        }

                    }

                    &:hover {

                        .main-slider {

                            .slick-arrow {
                                opacity: 0.8;

                                &:hover {
                                    opacity: 1;
                                }

                            }

                        }

                        .main-slider-nav {
                            opacity: 1;
                        }

                    }

                }

                .single-map {

                    div {
                        height: var(--single-map);
                    }

                }

                .reviews-list {
                    padding: 1rem 0 2rem 0;
                }

                .pricing {

                    .pricing-group {

                        .pricing-header {
                            background: var(--border);
                            padding: 2rem 3rem;
                        }

                    }

                    .pricing-item {
                        display: flex;
                        align-items: center;

                        &:not(:last-child) {
                            border-bottom: 1px solid var(--border);
                            padding-bottom: 2rem;
                            margin-bottom: 2rem;
                        }

                        .text {
                            padding-right: 3rem;

                            p {
                                color: var(--grey);
                            }

                        }

                        .price {
                            flex-shrink: 0;
                            margin-left: auto;
                        }

                    }

                }

            }

            .aside {
                width: var(--single-aside);

                & > *:not(:last-child) {
                    margin-bottom: 3rem;
                }

                .schedule {
                    position: relative;

                    .schedule-header {
                        display: flex;
                        align-items: center;
                        padding: 0 3rem;
                        height: 7rem;

                        span {
                            font-weight: 400;
                        }

                        &:before {
                            margin-right: 0.6em;
                        }

                        .time {
                            margin-left: auto;
                        }

                    }

                    .schedult-content {
                        padding: 0 3rem 3rem 3rem;
                        display: none;
                    }

                    .toggle-schedule {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: fit-content;
                        background: var(--bg);
                        border: 1px solid var(--border);
                        padding: 0.3em 1em;
                        border-radius: 2rem;
                        font-size: calc(var(--fz) * 0.9);
                        color: var(--grey);
                        transition: 0.3s;
                        cursor: pointer;
                        user-select: none;

                        &:hover {
                            border-color: transparent;
                            background: var(--theme);
                            color: #fff;
                        }

                        &:active {
                            border-color: transparent;
                            background: var(--dark);
                            color: #fff;
                            box-shadow: 0 0 0 4px var(--focus);
                        }

                    }

                }

                .contacts {

                    .sb-content {

                        & > * {
                            margin-bottom: 0;
                            display: flex;
                            align-items: center;
                            border-top: 1px solid var(--border);
                            padding: 1rem 3rem;
                            color: var(--text);

                            &:before {
                                font-size: 1.2em;
                                margin-right: 0.6em;
                                color: var(--grey);
                            }

                            .show-number {
                                background: var(--border);
                                color: var(--grey);
                                padding: 0.4em;
                                line-height: 1;
                                margin: -0.4em 0 -0.4em 0.6em;
                                border-radius: 3px;
                                cursor: pointer;
                                transition: 0.2s;

                                &:hover {
                                    background: var(--theme);
                                    color: #fff;
                                }

                            }

                        }

                        & > a:hover {
                            border-color: transparent;
                            background: var(--border);
                        }

                    }

                }

                .social {

                    .social-links {
                        margin: -0.5rem;
                        display: flex;
                        flex-wrap: wrap;

                        a {
                            display: flex;
                            align-items: center;
                            margin: 0.5rem;
                            width: calc(50% - 1rem);
                            flex-grow: 1;
                            color: #fff;
                            justify-content: center;
                            padding: 0.4em;
                            border-radius: 3px;
                            font-weight: 400;
                            font-size: calc(var(--fz) * 0.9);

                            &:before {
                                margin-right: 0.6em;
                            }

                            &.instagram {
                                background: var(--instagram);

                                &:hover {
                                    background: var(--instagram-light);
                                }

                                &:active {
                                    background: var(--instagram-dark);
                                    box-shadow: 0 0 0 4px var(--instagram-focus);
                                }

                            }

                            &.vk {
                                background: var(--vk);

                                &:hover {
                                    background: var(--vk-light);
                                }

                                &:active {
                                    background: var(--vk-dark);
                                    box-shadow: 0 0 0 4px var(--vk-focus);
                                }

                            }
                            
                            &.twitter {
                                background: var(--twitter);

                                &:hover {
                                    background: var(--twitter-light);
                                }

                                &:active {
                                    background: var(--twitter-dark);
                                    box-shadow: 0 0 0 4px var(--twitter-focus);
                                }

                            }

                            &.facebook {
                                background: var(--facebook);

                                &:hover {
                                    background: var(--facebook-light);
                                }

                                &:active {
                                    background: var(--facebook-dark);
                                    box-shadow: 0 0 0 4px var(--facebook-focus);
                                }

                            }

                            &.youtube {
                                background: var(--youtube);

                                &:hover {
                                    background: var(--youtube-light);
                                }

                                &:active {
                                    background: var(--youtube-dark);
                                    box-shadow: 0 0 0 4px var(--youtube-focus);
                                }

                            }

                            &.telegram {
                                background: var(--telegram);

                                &:hover {
                                    background: var(--telegram-light);
                                }

                                &:active {
                                    background: var(--telegram-dark);
                                    box-shadow: 0 0 0 4px var(--telegram-focus);
                                }

                            }

                            &.whatsapp {
                                background: var(--whatsapp);

                                &:hover {
                                    background: var(--whatsapp-light);
                                }

                                &:active {
                                    background: var(--whatsapp-dark);
                                    box-shadow: 0 0 0 4px var(--whatsapp-focus);
                                }

                            }

                            &.ok {
                                background: var(--ok);

                                &:hover {
                                    background: var(--ok-light);
                                }

                                &:active {
                                    background: var(--ok-dark);
                                    box-shadow: 0 0 0 4px var(--ok-focus);
                                }

                            }

                            &.tik-tok {
                                background: var(--tik-tok);

                                &:hover {
                                    background: var(--tik-tok-light);
                                }

                                &:active {
                                    background: var(--tik-tok-dark);
                                    box-shadow: 0 0 0 4px var(--tik-tok-focus);
                                }

                            }

                            &.messenger {
                                background: var(--messenger);

                                &:hover {
                                    background: var(--messenger-light);
                                }

                                &:active {
                                    background: var(--messenger-dark);
                                    box-shadow: 0 0 0 4px var(--messenger-focus);
                                }

                            }

                            &.tumblr {
                                background: var(--tumblr);

                                &:hover {
                                    background: var(--tumblr-light);
                                }

                                &:active {
                                    background: var(--tumblr-dark);
                                    box-shadow: 0 0 0 4px var(--tumblr-focus);
                                }

                            }

                            &.viber {
                                background: var(--viber);

                                &:hover {
                                    background: var(--viber-light);
                                }

                                &:active {
                                    background: var(--viber-dark);
                                    box-shadow: 0 0 0 4px var(--viber-focus);
                                }

                            }

                            &.reddit {
                                background: var(--reddit);

                                &:hover {
                                    background: var(--reddit-light);
                                }

                                &:active {
                                    background: var(--reddit-dark);
                                    box-shadow: 0 0 0 4px var(--reddit-focus);
                                }

                            }

                            &.linkedin {
                                background: var(--linkedin);

                                &:hover {
                                    background: var(--linkedin-light);
                                }

                                &:active {
                                    background: var(--linkedin-dark);
                                    box-shadow: 0 0 0 4px var(--linkedin-focus);
                                }

                            }

                            &.pinterest {
                                background: var(--pinterest);

                                &:hover {
                                    background: var(--pinterest-light);
                                }

                                &:active {
                                    background: var(--pinterest-dark);
                                    box-shadow: 0 0 0 4px var(--pinterest-focus);
                                }

                            }

                            &.skype {
                                background: var(--skype);

                                &:hover {
                                    background: var(--skype-light);
                                }

                                &:active {
                                    background: var(--skype-dark);
                                    box-shadow: 0 0 0 4px var(--skype-focus);
                                }

                            }

                            &.google-plus {
                                background: var(--google-plus);

                                &:hover {
                                    background: var(--google-plus-light);
                                }

                                &:active {
                                    background: var(--google-plus-dark);
                                    box-shadow: 0 0 0 4px var(--google-plus-focus);
                                }

                            }

                        }

                    }

                }

            }

        }
        
    }

}