.dashboard {

    .bill {

        .parameters-list {
            background: var(--grey-bg);
            padding: 4rem;
            border-radius: 6px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: calc(50% - 1rem);

                &.full {
                    width: 100%;
                }

            }

        }

        #cancel_bill {
            color: var(--theme);
            border-bottom: 1px solid;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--dark);
            }

        }

        .method {
            border: 2px solid var(--border);
            border-radius: 6px;
            position: relative;
            height: 16rem;
            cursor: pointer;
            transition: 0.3s;

            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 2.6rem;
                height: 2.6rem;
                align-items: center;
                justify-content: center;
                background: var(--bg);
                border: 2px solid var(--theme);
                border-radius: 100%;
                transform: translate(50%, -50%);
                display: none;
            }

            .img-wrapper, &:before {
                width: calc(100% - 10rem);
                height: calc(55% - 3.2rem);
                right: 5rem;
                left: 5rem;
                top: 3.2rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: absolute;
                bottom: 50%;
                font-size: 5rem;
                color: var(--theme);
            }

            img {
                max-height: 100%;
            }

            h6 {
                width: 100%;
                left: 0;
                text-align: center;
                position: absolute;
                top: calc(50% + 2rem);
                text-transform: uppercase;
                color: var(--grey-l);
                font-size: var(--label-size);
                transition: 0.3s;
                letter-spacing: 0.1em;
            }

            &.active {
                background: var(--opacity);
                border-color: var(--theme);

                span {
                    display: flex;
                }

                h6 {
                    color: var(--text);
                }

            }

            &.disabled {
                pointer-events: none;
                cursor: no-drop;

                h6 {
                    opacity: 0.7;
                }

                img, &:before {
                    opacity: 0.7;
                    filter: grayscale(1);
                }
            }

        }

        .continue.balance {

            .line {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

        }

        .continue {
            display: none;
        }

    }

}