section.dashboard {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    ::-webkit-scrollbar {
        width: 1rem;
        height: 1rem;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--bg); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--border); 
    }
    
    .dashboard-sidebar {
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
        width: var(--d-sidebar);
        border-right: 1px solid var(--border);

        .d-tabs {
            flex-shrink: 0;
            box-shadow: var(--shadow-m);
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 3;

            .logo-tab {
                width: var(--d-tab-size);
                height: var(--d-tab-size);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(var(--d-tab-size) * 0.4);
                background: var(--theme);
                color: #fff;

                &:hover {
                    background: var(--dark);
                }

            }

            .d-tab {
                width: var(--d-tab-size);
                height: var(--d-tab-size);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: var(--label-size);
                color: var(--grey);
                cursor: pointer;
                transition: 0.3s;

                &:before {
                    margin-bottom: 1rem;
                    color: var(--grey);
                    font-size: calc(var(--d-tab-size) * 0.25);
                    transition: 0.3s;
                }

                &:hover {
                    background: var(--border);

                    &:before {
                        color: var(--text);
                    }

                }

                &.active {
                    box-shadow: var(--shadow-s);
                    background: var(--bg);

                    &:before {
                        color: var(--theme);
                    }

                }

            }

            nav {
                margin-bottom: auto;

                ul {
                    margin: 0;
                    list-style: none;
                }

            }

        }

        .links {
            display: flex;
            flex-direction: column;
            width: calc(100% - var(--d-tab-size));
            background: var(--bg);
            height: 100%;

            .links-top {
                flex-grow: 1;
                position: relative;
                overflow: hidden;

                .sidebar-window {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    right: 100%;
                    overflow: auto;
                    z-index: 2;
                    transition: 0.4s;
                    background: var(--bg);

                    &.show {
                        right: 0;
                    }

                    &.show-always {
                        right: 0;
                        z-index: 1;
                    }

                }

            }

            .links-header {
                height: var(--d-tab-size);
                padding: 2rem 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                border-bottom: 1px solid var(--border);
                text-transform: uppercase;
                letter-spacing: 0.1em;

                .close-window {
                    display: flex;
                    font-size: 80%;
                    padding: 2rem;
                    margin: -2rem -2rem -2rem 0;
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        color: var(--theme);
                    }

                }

            }

            .help-block {
                padding: 2rem 3rem;
            }

            .last-notifs {
                margin-bottom: auto;

                .item {
                    padding: 2rem 3rem;
                    border-bottom: 1px solid var(--border);
                    display: flex;
                    transition: 0.3s;

                    &:hover {
                        background: var(--grey-bg);
                    }

                    .avatar {
                        margin-right: 1.5rem;
                    }

                    .text {

                        .header {
                            display: flex;
                            justify-content: space-between;
                            
                            h5 {
                                font-size: 1.6rem;
                                margin-bottom: 0.2em;
                            }

                            .time {
                                font-style: italic;
                                color: var(--grey-l);
                                font-weight: 400;
                                margin-left: 1rem;
                                flex-shrink: 0;
                            }

                        }

                        p {
                            color: var(--grey-l);
                            font-weight: 400;
                            font-size: var(--label-size);
                        }

                    }

                }

                .watch-all {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: var(--input);
                    border-bottom: 1px solid var(--border);
                    transition: 0.3s;
                    color: var(--theme);

                    &:hover {
                        border-color: transparent;
                        background: var(--border);
                    }

                }
                
            }

            ul {
                margin-bottom: auto;

                li {

                    a {
                        height: var(--d-tab-size);
                        padding: 2rem 3rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-bottom: 1px solid var(--border);
                        font-weight: 400;
                        color: var(--grey);

                        h6 {
                            color: var(--theme);
                            font-weight: 500;
                            text-transform: uppercase;
                        }

                        p {
                            color: var(--grey-l);
                            font-size: var(--label-size);
                        }

                        &:hover {
                            background: var(--grey-bg);
                            color: var(--grey);
                        }

                        &.active {
                            background: var(--bg);
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                top: -1px;
                                right: 0;
                                bottom: -1px;
                                width: 6px;
                                background: var(--theme);
                            }

                        }

                    }

                }

            }

            .user-balance {
                position: relative;
                padding: 4rem;
                overflow: hidden;

                h5 {    
                    margin-bottom: 0.2em;

                    &:before {
                        font-size: 70%;
                        color: var(--grey);
                        margin-right: 0.5em;
                    }

                    line-height: 1;
                    font-size: 3rem;
                    font-weight: 400;
                }

                .form-group {
                    display: none;
                }

            }

        }

    }

    .dashboard-body {
        top: 0;
        right: 0;
        bottom: 0;
        left: var(--d-sidebar);
        padding: 0 var(--db-cont-p);
        position: fixed;
        overflow: auto;

        .fixed-btn {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 12;
            background: var(--theme);
            color: #fff !important;
            width: 6rem;
            height: 6rem;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 0;
            padding: 0;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: var(--light);
            }

            &:active {
                background: var(--dark);
                box-shadow: 0 0 0 4px var(--focus);
            }

        }

        .dashboard-header {
            height: var(--d-tab-size);
            display: flex;
            align-items: center;

            nav {
                margin-right: 6rem;

                ul {
                    display: flex;

                    li {

                        &:not(:last-child) {
                            margin-right: 4rem;
                        }

                        a {
                            color: var(--grey);

                            &.active, &:hover {
                                color: var(--theme);
                            }

                        }

                    }

                }

            }

            .dashboard-user-block {
                position: relative;
                cursor: pointer;

                .content {
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    transition: 0.3s;
                    color: var(--theme);

                    &:hover {
                        color: var(--dark);
                    }

                    &:before {
                        font-size: 2rem;
                        margin-right: 1rem;
                    }
                    
                    span {
                        border-bottom: 1px dashed;
                        line-height: 1.2;
                    }

                }

                &:hover {

                    .content {

                        .name {

                            h5 {
                                color: var(--theme);
                            }

                        }

                    }

                }

            }

        }

        .dashboard-content {
            padding: 3rem 0 var(--padding) 0;
        }

        .d-block {
            border-radius: 1rem;
            border: 1px solid var(--border);

            .d-block-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2rem 3rem;
                border-bottom: 1px solid var(--border);

                h1, h2, h3 {
                    font-size: 2.2rem;
                }

                .form-group {
                    width: fit-content;
                    margin-left: auto;
                }

            }

            .d-block-body {
                padding: 4rem 3rem;
                transition: 0.3s;

                &.disabled {
                    pointer-events: none;
                    position: relative;
                    opacity: 0.3;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 24;
                    }

                }

            }

        }

    }

    @keyframes sidebarShow {
        from {
            transform: translateX(100%);
        }

        to {
            transform: none;
        }
    }

    @keyframes sidebarHide {
        from {
            transform: none;
        }

        to {
            transform: translateX(100%);
        }
    }

    .dashboard-sidebar-popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        background: var(--bg);
        z-index: 48;
        width: 50rem;
        border-left: 1px solid var(--border);
        transform: translateX(100%);
        display: none;
        animation: sidebarHide 0.4s 1;

        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &.show {
            transform: none;
            animation: sidebarShow 0.4s 1;
        }

        .sidebar-popup-header {
            display: flex;
            align-items: center;
            position: relative;
            border-bottom: 1px solid var(--border);
            padding: 2rem 4rem;

            h4 {
                margin: 0;
            }

            .close-sidebar {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                padding: 0 4rem;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    color: var(--red);
                }

            }

        }

        .sidebar-popup-body {
            flex-grow: 1;
            overflow: auto;
            padding: 2rem 3rem;
        }

        .sidebar-popup-footer {
            padding: 2rem 4rem;
            border-top: 1px solid var(--border);
        }

        &.current {
            z-index: 49;
        }

    }

}

.admin-bar {

    section.dashboard {
        top: 32px;

        .dashboard-body,
        .dashboard-sidebar-popup {
            top: 32px;
        }

    }

}