.dashboard {

    .edit-company {

        .schedule {
            margin: -1rem 0;

            .schedule-item {
                display: flex;
                align-items: center;

                h6 {
                    flex-grow: 1;
                    margin: 0;
                }

                & > *:not(:last-child) {
                    margin-right: 2rem;
                }

            }

        }

        .social {
            margin: -1rem 0;

            .close-social {
                padding: 0 2rem;
                margin: 0 -2rem;
                font-size: 1.6rem;
                cursor: pointer;
                transition: 0.3s;
                display: flex;
                align-items: center;
                align-self: stretch;
    
                &:hover {
                    color: var(--red);
                }
    
            }

        }

    }

}