.dashboard {

    .extend-table {

        .name {
            flex-grow: 1;
        }

        .term {
            width: 12rem;
        }

        .price {
            width: 9rem;
        }

        .et-labels {
            display: flex;
            padding: 0 4rem;
        }

        .et-item {
            border: 1px solid var(--border);
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 3rem 4rem;
            position: relative;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: var(--shadow-m);
                border-color: transparent;
            }

            &.active {
                box-shadow: none;
                border-color: transparent;
                background: var(--theme);

                .price {
                    color: var(--text);
                }

                .discount {
                    background: var(--bg);
                }

            }

            .discount {
                background: var(--theme);
                color: #fff;
                position: absolute;
                right: 0;
                top: 0;
                letter-spacing: 0.1em;
                padding: 0.3em 0.4em;
                border-radius: 6px;
                transform: translate(40%, -40%);
                transition: 0.3s;
            }

            .name {
                padding-right: 1rem;
            }

            .term, .price {
                text-transform: uppercase;
                font-size: 1.6rem;
            }

            .price {
                color: var(--theme);
                transition: 0.3s;

                del {
                    color: var(--grey-l);
                    font-size: 90%;
                    display: block;
                    transition: 0.3s;
                }

            }

        }

    }

}