.dashboard {

    .kanban-board {
        min-height: 100vh;
        margin: 0 var(--db-cont-p-m) var(--padding-m) var(--db-cont-p-m);
        padding: 0 calc(var(--db-cont-p) - 1rem) var(--padding) calc(var(--db-cont-p) - 1rem);
        white-space: nowrap;
        overflow: auto;

        .col {
            width: var(--kanban-col);
            margin: 0 1rem;
            flex-shrink: 0;
            display: inline-block;
            height: 100%;

            .col-content {
                display: flex;
                flex-direction: column;
                min-height: 100%;

                .col-title {
                    display: flex;
                    align-items: center;
                }
    
                .col-body {
                    background: var(--grey-bg);
                    border-radius: 6px;
                    padding: 1.5rem;
                    flex-grow: 1;
                    white-space: normal;
                    min-height: 12rem;
    
                    .placeholder {
                        border: 2px dashed var(--border);
                        padding: 2rem;
                        border-radius: 6px;
                    }
                    
                    .col-item {
                        background: var(--bg);
                        border-radius: 1rem;
                        padding: 2rem;
                        box-shadow: var(--shadow-s);
                        position: relative;

                        .remove-item {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 0;
                            padding: 2rem;
                            display: flex;
                            cursor: pointer;
                            transition: 0.3s;
                            color: var(--grey);
                            font-size: 1.2rem;
                            opacity: 0;
                        }
    
                        .date {
                            margin-bottom: 1rem;
                        }
    
                        &.ui-sortable-helper {
                            transform: rotate(-5deg);
                        }

                        &:hover {

                            .remove-item {
                                opacity: 1;

                                &:hover {
                                    color: var(--red);
                                }

                            }

                        }
    
                    }
    
                }

            }

        }

    }

}