.dashboard {

    .company-block {
        display: flex;
        justify-content: space-between;
    
        .cb-small {
            min-height: var(--cb-s-height);
            padding: 5.5rem;
            background: var(--grey-bg);

            &.theme {
                background: var(--theme);
            }
    
            &.center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
    
            &.no-p {
                padding: 0;
            }
    
        }

        .empty {
            display: block;
            border: 2px dashed var(--border);

            &:not(.preview){
                height: calc(var(--cb-m-height) * 0.7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                color: var(--text);

                &:hover {
                    border-color: var(--focus);
                    color: var(--theme);

                    &:before {
                        opacity: 1;
                    }

                }

                &:before {
                    opacity: 0.05;
                    font-size: 16rem;
                    transition: 0.3s opacity;
                }

            }

            &.preview {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 2.4rem;
                color: var(--grey);
                transition: 0.3s;

                &:hover {
                    border-color: var(--focus);
                    color: var(--theme);
                }

                &:before {
                    font-size: 12rem;
                    margin-bottom: 2rem;
                }

            }

        }

        .preview {
            overflow: hidden;
            height: var(--cb-m-height);
            display: flex;
            align-items: flex-end;
            width: 100%;

            .link {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            .publish {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                backdrop-filter: blur(12px);
                padding: 2rem;
                background: var(--blackout);
                color: #fff;
                font-weight: 400;
                display: flex;
                align-items: baseline;
                pointer-events: none;

                &:before {
                    margin-right: 0.6em;
                }
                    
            }

            .tags {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                padding: 5.5rem 5.5rem 0 0;
            }

            .image {
                transition: 0.5s;
            }

            .content {
                width: 100%;
                position: relative;
                z-index: 2;
                padding: 3.5rem;
                background: linear-gradient(0deg, rgba(0,0,0,0.7) 50%, transparent 100%);
                pointer-events: none;

                h4 {
                    font-weight: 500;
                }

                h5 {
                    font-weight: 500;
                }
                
                .btns {

                    a {
                        pointer-events: all;
                    }

                }

                .remove-from-fav {
                    pointer-events: all;
                }

            }

            &:hover {

                .image {
                    transform: scale(1.05);
                }

            }

        }
    
        .main {
            width: calc(65%);
            padding-right: 3rem;
    
            .bottom {
                padding-top: 6rem;
                display: flex;
                margin: 0 -3rem;
    
                & > * {
                    width: calc(50% - 6rem);
                    margin: 0 3rem;
                    height: calc(var(--cb-m-height) * 0.7);    
                }
    
            }
    
        }
    
        .right {
            width: 35%;
            padding-left: 3rem;
    
            & > * {
    
                &:not(:last-child) {
                    margin-bottom: 6rem;
                }
    
            }
    
            .activity {
                position: relative;
                overflow: hidden;
                display: block;
    
                &:before {
                    opacity: 0.05;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20rem;
                    color: var(--theme);
                    transform: translate(20%, -24%);
                }
    
                .content {
    
                    .avatar {
                        margin-bottom: 2rem;
                    }

                    h6 {
                        color: var(--theme);
                        font-weight: 700;
                        font-size: 2rem;

                        span {
                            border-bottom: 1px solid;
                        }
                        
                    }

                    p {
                        color: var(--text);
                        opacity: 0.4;
                        font-weight: 600;
                    }
    
                }

                &.white {

                    &:before {
                        color: var(--text);
                    }

                    .content {

                        h6 {
                            color: var(--text);
                        }

                    }

                }
    
            }
    
        }
    
    }

}