.dashboard {

    .members {

        .member {
            border: 1px solid var(--border);
            border-radius: 6px;
            padding: 3rem;
            transition: 0.3s;

            &:hover {
                border-color: transparent;
                box-shadow: var(--shadow-m);
            }

            .image {
                height: 18rem;
                border: 2px dashed var(--border);
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12rem;
                color: var(--border);
                cursor: pointer;
                transition: 0.3s;
            }

        }

        .add-member {
            border: 2px dashed var(--border);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--grey-l);
            transition: 0.3s;
            border-radius: 6px;

            &:before {
                font-size: 3rem;
                color: var(--grey-l);
                margin-bottom: 1.4rem;
            }

            h6 {
                color: var(--grey);
                text-transform: uppercase;
            }

            &:hover {
                border-color: transparent;
                box-shadow: var(--shadow-m);
            }

        }

    }

}