.dashboard {

    .pricing-block {

        .placeholder {      
            border: 4px solid var(--focus);
            background: var(--opacity);
            border-radius: 6px;
            margin: 2rem 0;
            height: var(--input);
        }

        .move {
            display: flex;
            padding: 0 2rem;
            font-size: 2rem;
            margin: 0 0 0 -2rem !important;
            align-items: center;
            align-self: stretch;
            cursor: move;
        }

        .remove {
            padding: 0 2rem;
            margin: 0 -2rem;
            font-size: 1.6rem;
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            align-items: center;
            align-self: stretch;

            &:hover {
                color: var(--red);
            }

        }

        .pricing-category {
            user-select: none;

            .category-header {
                display: flex;
                align-items: center;

                & > *:not(:last-child) {
                    margin-right: 2rem;
                }

                .form-group {
                    flex-grow: 1;
                }

            }

            &:first-child:last-child {

                .category-header {

                    .remove {
                        opacity: 0.5;
                        pointer-events: none;
                    }

                }

            }

            .category-body {
                min-height: calc(var(--input) + 2rem);
                padding: 2rem 0 2rem 4.5rem;

                .placeholder {
                    margin-left: 4rem;
                }

                .category-item {
                    display: flex;
                    align-items: center;
                    margin: 2rem 0;

                    & > *:not(:last-child) {
                        margin-right: 2rem;
                    }
    
                    .form-group {
                        flex-grow: 1;
                    }

                }

                .hint {
                    display: none;
                    content: '';
                    border: 2px dashed var(--border);
                    min-height: var(--input);
                    border-radius: 6px;
                    margin: 2rem 0 2rem 4rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 1rem 2rem;
                    color: var(--grey);

                    &:first-child:last-child {
                        display: flex;
                    }

                }

            }
            
        }

    }

}