.dashboard {

    .reviews {

        .reviews-list {

            .rl-item {
                display: flex;
                color: var(--text);

                .avatar {
                    margin-right: 2rem;
                }

                .info {
                    flex-grow: 1;

                    p {

                        span {
                            border-bottom: 1px solid var(--border);
                        }

                    }

                    .review-content {
                        border: 1px solid var(--border);
                        border-radius: 6px;
                        padding: 3rem;
                        margin-top: 2rem;
                        transition: 0.3s;

                        .review-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                    }

                }

                &:hover {

                    .info {

                        .review-content {
                            border-color: transparent;
                            box-shadow: var(--shadow-m);
                        }

                    }

                }

                &:not(:last-child) {
                    position: relative;
                    padding-bottom: 4rem;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5rem;
                        left: 2.5rem;
                        width: 1px;
                        bottom: 0;
                        background: var(--border);
                    }

                }

            }

        }

    }

}