body {
    
    .links-list {
    
        li {
            margin-bottom: 1em;
    
            a {
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
    
            &.current-menu-item,
            &.active {
                
                a {
                    color: var(--theme);
                }
    
            }
    
        }
    
    }

    .avatar {
        background-color: var(--opacity);
        background-position: center;
        background-size: cover;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--theme);
        font-size: 1.8rem;
        font-weight: 600;
        user-select: none;

        &.small {
            font-size: 1.2rem;
            width: var(--icon-size);
            height: var(--icon-size);
        }

        &.medium {
            width: 4.5rem;
            height: 4.5rem;
            font-size: 1.6rem;
        }

    }

    a.avatar, label[for].avatar {
        transition: 0.2s;

        &:active {
            box-shadow: 0 0 0 4px var(--focus);
        }

    }

    .icon, a.icon, a:visited.icon {

        &:not(label):not(.label):not(.btn) {
            width: var(--icon-size);
            height: var(--icon-size);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            border-radius: 100%;
            cursor: pointer;
            color: var(--text);
            flex-shrink: 0;
            position: relative;
            user-select: none;
    
            &:hover {
                background: var(--opacity);
                color: var(--theme);
            }
    
            &:active {
                color: #fff;
                background: var(--dark);
                box-shadow: 0 0 0 4px var(--focus);
            }

            &.bordered {
                color: var(--text);
                border: 1px solid var(--border);

                &:hover {
                    border-color: transparent;
                    background: var(--theme);
                    color: #fff;
                }

                &:active {
                    border-color: transparent;
                    color: #fff;
                    background: var(--dark);
                    box-shadow: 0 0 0 4px var(--focus);
                }

            }

            &.lg {
                --icon-size: 4rem;
                font-size: 1.8rem;
            }

            &.theme {
                background: var(--theme);
                color: #fff;

                &:hover {
                    background: var(--light);
                }

                &:active {
                    background: var(--dark);
                    box-shadow: 0 0 0 4px var(--focus);
                }

            }

            .count {
                position: absolute;
                left: 50%;
                bottom: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                background: var(--theme);
                color: #fff;
                font-size: 14px;
                height: 20px;
                min-width: 20px;
                padding: 0 6px;
                border-radius: 10px;
            }

        }

    }

    .icons {
        display: flex;

        & > *:not(:last-child) {
            margin-right: 1rem;
        }

    }

    .tags {
        user-select: none;
        
        .line {
            margin: -0.5rem;
            display: flex;
            flex-wrap: wrap;

            .tag {
                font-size: var(--fz);
                border: 1px solid var(--border);
                color: var(--text);
                padding: 0.7em 1.2em;
                border-radius: 2em;
                transition: 0.3s;
                margin: 0.5rem;

                &:hover, &.active {
                    background: var(--theme);
                    border-color: transparent;
                    color: #fff;
                }

                &:active {
                    background: var(--dark);
                    color: #fff;
                    border-color: transparent;
                    box-shadow: 0 0 0 4px var(--focus);
                }

            }

        }

        &.theme {

            .line {

                .tag {
                    background: var(--theme);
                    border-color: transparent;
                    color: #fff;

                    &:hover {
                        background: var(--light);
                    }

                    &:active {
                        background: var(--dark);
                        box-shadow: 0 0 0 4px var(--focus);
                    }

                }

            }

        }

        &.small {

            .line {

                .tag {
                    padding: 0.4em 0.8em;
                }

            }

        }

        &.center {

            .line {
                justify-content: center;
            }

        }

    }

    .tags-icon {
        user-select: none;
        
        .line {
            margin: -0.5rem;
            display: flex;
            flex-wrap: wrap;

            .tag {
                background: var(--bg);
                display: flex;
                align-items: center;
                font-size: calc(var(--fz) * 0.9);
                color: var(--text);
                padding: 4px 8px 4px 4px;
                border-radius: 2rem;
                line-height: 1;
                margin: 0.5rem;

                &:before {
                    height: 1.8rem;
                    width: 1.8rem;
                    background: var(--theme);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    font-size: 1rem;
                    margin-right: 0.6rem;
                }
                    
            }

        }

        &.theme {

            .line {

                .tag {
                    background: var(--theme);
                    border-color: transparent;
                    color: #fff;

                    &:hover {
                        background: var(--light);
                    }

                    &:active {
                        background: var(--dark);
                        box-shadow: 0 0 0 4px var(--focus);
                    }

                }

            }

        }

        &.small {

            .line {

                .tag {
                    padding: 0.4em 0.8em;
                }

            }

        }

        &.center {

            .line {
                justify-content: center;
            }

        }

    }

    .star-rating {
        display: flex;
        color: var(--orange);
        flex-shrink: 0;

        li {
            display: flex;
            line-height: 1;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &.half {
                position: relative;

                &:before {
                    position: absolute;
                    overflow: hidden;
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }

            }

        }

        &.highlight {
            background: var(--orange-opacity);
            padding: 1rem 1.2rem;
            border-radius: 2rem;
        }

    }

    .reviews-list {

        .item {
            display: flex;
            
            &:not(:last-child) {
                padding-bottom: 4rem;
                margin-bottom: 4rem;
                border-bottom: 1px solid var(--border);
            }

            .avatar {
                margin-right: 2rem;
            }

            .review-content {

                .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .star-rating {
                        margin-left: 2rem;
                    }

                    .text {

                        h5 {
                            margin-bottom: 0.1em;
                        }

                    }

                }

                .replies {
                    margin-top: 4rem;
                    padding-top: 4rem;
                    border-top: 1px solid var(--border);
                }

            }

        }

    }

    .company-item {
        transition: 0.3s;
        border-radius: 6px;
        overflow: hidden;
        min-height: var(--ci-height);
        display: flex;

        .mask {
            background: linear-gradient(12deg, rgba(0, 0, 0, 0.75), transparent);
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 2;
            padding: 2rem;

            .tags-icon {
                margin-bottom: auto;
                padding-bottom: 3rem;
            }

            .rating {
                color: #fff;
                background: var(--theme);
                width: fit-content;
                line-height: 1;
                padding: 0.3em 0.6em;
                border-radius: 1em;
                margin-bottom: 0.5rem;
                font-size: var(--label-size);
            }

            .text {

                h5 {
                    margin-bottom: 0.1em;
                }

            }

        }

    }

    .blog-card {
        border-radius: 6px;
        overflow: hidden;
        
        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: var(--bc-height);
            padding: 2rem;
        }

    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 1023px) {



}